<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b2dcc5e7-faa7-460c-9867-22954eed44fe/resourcegroups/MonitorAPI/providers/Microsoft.Web/sites/MonitorAPI20180311122631</ResourceId>
    <ResourceGroup>MonitorAPI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://monitorapi20180311122631.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>monitorapi20180311122631.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MonitorAPI20180311122631</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MonitorAPI20180311122631</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MonitorAPIContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:monitorapidbserver.database.windows.net,1433;Initial Catalog=MonitorAPI_db;Persist Security Info=False;User ID=browseradmin;Password=Admin1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MonitorAPI.Models.MonitorAPIContext, MonitorAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MonitorAPIContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:monitorapidbserver.database.windows.net,1433;Initial Catalog=MonitorAPI_db;Persist Security Info=False;User ID=browseradmin;Password=Admin1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>